<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    {{ $style := resources.Get "index.scss" | resources.ExecuteAsTemplate "index.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
<div class="screen cover">
    <div class="screen-content">
        {{ $logo := (resources.Get "logo.svg").RelPermalink }}
        <img alt="Health&Help logo" class="logo" src="{{ $logo }}"/>
        <h1>{{ .Params.coverHeader }}</h1>
    </div>
</div>
<div class="screen intro">
    <div class="screen-content">
        <div class="text">
            {{ .Params.introText | markdownify  }}
        </div>
    </div>
</div>
<div class="screen donate" id="donate-screen">
    <div class="bg-list" id="bg-list">
      <img data-value="default" data-for-us="false" class="isVisible" src='{{ (resources.Get "amount_not_selected.jpg").RelPermalink }}' />
      <img data-value="5"   data-for-us="false"class="right-bottom" src='{{ (resources.Get "5_usd.jpg").RelPermalink }}' />
      <img data-value="10"  data-for-us="false" class="right-bottom" src='{{ (resources.Get "10_usd.jpg").RelPermalink }}' />
      <img data-value="25"  data-for-us="false" src='{{ (resources.Get "25_usd.jpg").RelPermalink }}' />
      <img data-value="30"  data-for-us="false" src='{{ (resources.Get "30_usd.jpg").RelPermalink }}' />
      <img data-value="50"  data-for-us="false" src='{{ (resources.Get "50_usd.jpg").RelPermalink }}' />
      <img data-value="100"  data-for-us="false" class="right-bottom" src='{{ (resources.Get "100_usd.jpg").RelPermalink }}' />
      <img data-value="10" data-for-us="true" class="right-bottom" src='{{ (resources.Get "10_usd_for_us.jpg").RelPermalink }}' />
    </div>
        <div class="donate">
            <h1>{{ .Params.donateAmountPrompt }}</h1>
            <div class="amounts" id="amounts">
                {{ with .Params.presents }}
                    {{ range . }}
                        <button type="button" data-id="{{ .id }}"  data-for-us="{{ .presentForUs }}" data-value="{{ .price }}" data-stripe-price="{{ .stripePriceId }}">${{ .price }}</button>
                    {{ end }}
                {{ end }}
            </div>
            <div class="controls">
                <button class="donateButton" id="donateButton">{{ .Params.donateButton }}</button>
                <div class="errorMessage" id="errorMessage"></div>
            </div>
        </div>
    <div class="details" id="details">
        {{ with .Params.presents }}
            {{ range . }}
                <div class="amount-details" data-value="{{ .price }}" data-id="{{ .id }}">
                    <h2>{{ .title }}</h2>
                    <div class="text">{{ .body | markdownify }}</div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</div>
<script src="https://js.stripe.com/v3"></script>
{{ $params := (dict "STRIPE_PUBLISHABLE_KEY" .Site.Params.STRIPE_PUBLISHABLE_KEY) }}
{{ $js_file := resources.Get "index.js" | js.Build (dict "params" $params) }}
<script src="{{ $js_file.RelPermalink }}"></script>

</body>
</html>
