<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health&Help</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    {{ $style := resources.Get "main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

</head>
<body>
<div class="screen first">
    <div class="screen-content">
        {{ $logo := (resources.Get "logo.svg").Permalink }}
        <img src="{{ $logo }}"/>
        <h1>Секретный Cанта для наших подписчиков</h1>
    </div>
</div>
<div class="screen second">
    <div class="screen-content">
        <div class="intro">
            <p>Новый год — это время подарков! Их приятно получать, но еще приятнее дарить. И пока одни мечтают о новом гаджете, для других лучший подарок — это шприц с инсулином.</p>
            <p>Сегодня мы предлагаем вам сыграть в Тайного Санту: на этой страничке мы собрали самые заветные желания наших пациентов — вы можете выбрать любое и поздравить конкретного человека!</p>
            <p>Новогоднее чудо под силу каждому из нас — с нами вы можете не только пожелать здоровья, но и подарить его!</p>
        </div>
        <div class="bottom">
            <div class="donate">
                <h1>Сколько вы готовы пожертвовать?</h1>
                <div class="amounts" id="amounts">
                    <button type="button" data-value="5">5$</button>
                    <button type="button" data-value="10">10$</button>
                    <button type="button" data-value="25">25$</button>
                    <button type="button" data-value="50">50$</button>
                    <button type="button" data-value="100">100$</button>
                </div>
                <button class="donateButton" id="donateButton">Пожертвовать</button>
            </div>
            <div class="details" id="details">
                <div class="amount-details" data-value="5">
                    <h2>Противозачаточная инъекция на 3 месяца для 1 женщины </h2>
                    <p>У Глории Ишкой четверо детей:  Андэрсон, Тоно, Марко и Антонио. Старшие Андэрсон и Тоно ходят в школу — на обучение остальных у семьи нет денег. По местным меркам Глория живет хорошо — они с мужем держат небольшой магазинчик, в котором продают чипсы, газировку и снеки. Соседи считают, что Глории повезло, потому что она может купить столько кукурузы и фасоли, чтобы прокормить всех своих детей, а по праздникам в ее семье даже едят курицу. Глория и ее муж  больше не хотят иметь детей, но контрацептивы  стоят слишком дорого.</p>
                    <p>Каждые три месяца мы делаем Глории  укол  противозачаточной инъекции — с ней Глория может не бояться незапланированной беременности.</p>
                    <p>У каждой женщины из нашей деревни от 4 до 12  детей. Половину из них их родители не могут прокормить.</p>
                </div>
                <div class="amount-details" data-value="10">
                    <h2>Тест-полоски для анализа мочи 100 шт.</h2>
                    <p>Мартина Санчес беременна. Последнее время у нее болит голова, и она пришла к нам за обезболивающим. Но в клинике ей не дали таблеток. Мартина очень удивилась, когда ее попросили зайти в туалет и собрать мочу в стаканчик. Она удивилась еще больше, когда волонтеры срочно организовали трансфер и отправили ее на госпитализацию в большой госпиталь. Мартина даже не думала, что у нее преэклампсия — патология, которая может убить мать и плод. Помимо других симптомов, преэклампсия выдает себя наличием в моче  белка, который можно выявить с помощью самых дешевых тест-полосок.</p>
                    <p>Эти же тест-полоски, которые продаются за 10$ набором по 100 штук, помогают нам заподозрить проблемы с почками, печенью, желчными протоками, а также выявлять инфекции мочевыводящих путей.</p>
                    <p>Это тот случай, когда 1 цент спас две жизни. Таких случаев у нас много.</p>
                </div>
                <div class="amount-details" data-value="25">
                    <h2>Эпилепсия</h2>
                    <p>Роберто Гарсия плохо ест. В клинику его привели родители и попросили врача вернуть ему аппетит. Родители не посчитали нужным сказать сразу, что у ребенка эпилепсия: диагноз поставили давно, к приступам уже привыкли и даже научились во время них вкладывать карандаш между зубов. В семье Роберто не считают, что один припадок в день — это много.</p>
                    <p>Роберто никогда не получал лекарства — у его родителей нет денег и времени, чтобы ездить в столицу и получать их бесплатно, а в местных аптеках препарат стоит слишком дорого. Роберто не ходит в школу: его дразнят сверстники, а  учителя считают, что он одержим дьяволом, и боятся его припадков.</p>
                    <p>Лечение, которое назначили врачи-волонтеры Health & Help, оказалось дорогим даже для нашей клиники, но эти лекарства не только спасают от приступов, но и дают шанс получить образование таким детям, как Роберто.</p>
                </div>
                <div class="amount-details" data-value="50">
                    <h2>Астма - ингалятор для небулайзера</h2>
                    <p>Марии Фернандез всего 65, но никто не дает ей меньше 80.  Всю жизнь Мария готовит на открытом огне. Уже давно ей стало трудно дышать, но она старается не обращать внимания на симптомы.</p>
                    <p>Мария хотела новые ботиночки для внучки. Она узнала от соседки, что в клинике бесплатно раздают детскую обувь и пришла к нам.  Пользуясь случаем, Мария решила зайти к врачу.  На осмотре у нее сразу же заподозрили астму и отправили на процедуру. После нескольких минут с ингалятором Мария смогла дышать. Впервые за много лет. Домой Марии дали несколько ингаляторов - научить пользоваться ими было сложно, но у врачей получилось.</p>
                    <p>В нашей деревне нет доступа к бытовому газу, и женщинам приходится готовить на открытом огне.  Больше половины астматиков в клинике — женщины.</p>
                </div>
                <div class="amount-details" data-value="100">
                    <h2>Комплект лечения для пациента с диабетом: шприц-ручка с инсулином,  глюкометр и полоски</h2>
                    <p>У Розалины Ишкой диабет второго типа, но еще недавно она работала в поле и была здорова. Четыре года  назад у ее дочери обнаружили повышенный сахар, а через полгода после этого диабет диагностировали и у самой Розы. Розу сильно укачивает, но несмотря на это каждый месяц она по двое суток добиралась на автобусах в Манагуа, чтобы достать инсулин для дочери. А потом еще двое суток возвращалась домой. Но дочь так и не спасли. Ей было всего 14 лет.  После смерти ребенка состояние Розы стало ухудшаться, и инсулин стал для нее жизненно необходим. Но теперь Розе не нужно ехать в Манагуа – инсулин она получает у нас в клинике. У Розы осталось шесть детей, и больше всего на свете она боится умереть.</p>
                    <p>Каждый третий из наших пациентов — диабетик. У каждого из них есть дети. Или родители.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ $js_file := resources.Get "index.ts" | js.Build "index.js" }}
<script src="{{ $js_file.Permalink }}"></script>

</body>
</html>
